<form *ngIf="resetPassword == false">
    <div class="form-group">
        <label for="exampleInputEmail1">Email:</label>
        <input type="email" class="form-control" name="email" placeholder="Inserisci l'email" > 
    </div>

    <div class="form-group">
        <label for="exampleInputPassword1">Password:</label>
        <input type="password" class="form-control" name="password" placeholder="Inserisci la password"  >
    </div>
    <div class="my-btn text-center m-2">Login</div>
    <div class="mt-1">Non ricordi la tua password? <a routerLink="" (click)="showResetPassword()">Recuperala.</a></div>
</form>

<form *ngIf="resetPassword == true">
    <div class="mt-1 mb-2" *ngIf="sendPassword == false">Vuoi ritornare al login? <a routerLink="" (click)="showResetPassword()">clicca qui.</a></div>
    <div class="form-group">
        <label for="exampleInputEmail1">Username:</label>
        <input type="email" class="form-control" name="email" placeholder="Inserisci l'username" > 
    </div>
    <div class="my-btn text-center m-2" (click)="sendPass()">Recupera</div>
    
    <div class="recupera-codice pt-3" *ngIf="sendPassword == true">
        <hr>
        <h4>Ti abbiamo inviato una password temporanea all'email: p******@gmail.com</h4>
        <div class="my-btn text-center m-2 mt-4" (click)="showLogin()">Effettua il login</div>
    </div>
</form>
