.carousel img, .carousel-item{ 
    border-radius: 25px; 
}

.carousel-control { 
    background-image:none !important; 
}

.carousel {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 25px;
}