body {
    /* background: linear-gradient(0deg, rgba(183,248,219,1) 0%, rgba(80,167,194,1) 100%);  */ 
    background-color: rgba(80,167,194,1);
    margin-left: 5%;
    margin-right: 5%;
}

h2 {
    color: white;
}

.form-control {  
    border-radius: 20px;
    padding: 10px;
  }

.my-btn {
    background: #41D3BC;
    border-color: #5bc2c2;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
    color: white;
    border-radius: 25px;
    transition: 0.3s;
}

.my-btn:hover {
    background: #50A7C2; 
    border-color: #50A7C2;
    padding-left: 25px;
    padding-right: 25px;
}

.modal-content {
    border-radius: 25px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

a {
    color: #50A7C2;
}

a:hover {
    color:#5bc2c2;
}

.close:hover {
    color: rgba(255, 0, 0, 0.6);
}

.form-control:focus {
    border-color: #50A7C2;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0), 0 0 8px #5bc2c2;;
}

@media only screen and (max-width: 600px) {
    body {
        margin-left: 1%;
        margin-right: 1%;    
    }
}
