<hr>
<h2 style="font-weight: bold;" class="text-center">LE MIGLIORI OFFERTE DEL MOMENTO</h2>
<hr>
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
          <!--Prima riga-->
          <div class="row m-4">
              <!--Primo elemento-->
              <div class="col"  *ngFor="let col of cols; let colIdx = index">
                <div class="card">
                    <img src="{{bestProducts[colIdx].image}}" style="height: 200px;" class="card-img-top mt-4 mx-auto" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{bestProducts[colIdx].name | truncateText:27 }}</h5>
                        <div class="float-right">
                            <h6>{{bestProducts[colIdx].priceCurrent}}€</h6>
                        </div>
                        <div id="red-price" class="float-left">
                            <h6>Prezzo: {{bestProducts[colIdx].priceCurrentThird}}€</h6>
                        </div><br>
                        <hr>
                        <div class="text-center">
                            <div style="width: 100%;" class="my-btn" data-toggle="modal"
                                data-target="#modal_user">Segui</div>
                        </div>
                    </div>
                </div>
              </div>
        </div>          
    </div>
      <div class="carousel-item">
        <!--Seconda riga-->
          <div class="row m-4">
            <!--Primo elemento-->
            <div class="col" *ngFor="let col of cols; let colIdx = index">
              <div class="card">
                  <img src="{{bestProducts[colIdx + 4].image}}" style="height: 200px;" class="card-img-top mt-4 mx-auto" alt="...">
                  <div class="card-body">
                      <h5 class="card-title text-truncate">{{bestProducts[colIdx + 4].name | truncateText:27 }}</h5>
                      <div class="float-right">
                          <h6>{{bestProducts[colIdx + 4].priceCurrent}}€</h6>
                      </div>
                      <div id="red-price" class="float-left">
                          <h6>Prezzo: {{bestProducts[colIdx + 4].priceCurrentThird}}€</h6>
                      </div><br>
                      <hr>
                      <div class="text-center">
                          <div style="width: 100%;" class="my-btn" data-toggle="modal"
                              data-target="#modal_user">Segui</div>
                      </div>
                  </div>
              </div>
            </div>
        </div>  
      </div>
      <div class="carousel-item">
        <!--3 riga-->
          <!--Prima riga-->
          <div class="row m-4">
            <!--Primo elemento-->
            <div class="col" *ngFor="let col of cols; let colIdx = index">
              <div class="card">
                  <img src="{{bestProducts[colIdx + 8].image}}" style="height: 200px;" class="card-img-top mt-4 mx-auto" alt="...">
                  <div class="card-body">
                      <h5 class="card-title text-truncate">{{bestProducts[colIdx + 8].name | truncateText:27 }}</h5>
                      <div class="float-right">
                          <h6>{{bestProducts[colIdx + 8].priceCurrent}}€</h6>
                      </div>
                      <div id="red-price" class="float-left">
                          <h6>Prezzo: {{bestProducts[colIdx + 8].priceCurrentThird}}€</h6>
                      </div><br>
                      <hr>
                      <div class="text-center">
                          <div style="width: 100%;" class="my-btn" data-toggle="modal"
                              data-target="#modal_user">Segui</div>
                      </div>
                  </div>
              </div>
            </div>
        </div> 
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
</div>