<div *ngIf="type == 'data'" class="data-user pt-4">
    <h3 class="pb-1">I tuoi dati</h3>

    <div class="form-group">
        <label for="exampleInputEmail1">Nome:</label>
        <input type="text" class="form-control" name="name" placeholder="Paolo">
    </div>

    <div class="form-group">
        <label for="exampleInputEmail1">Cognome:</label>
        <input type="text" class="form-control" name="name" placeholder="Erra">
    </div>

    <div class="form-group">
        <label for="exampleInputEmail1">Email:</label>
        <input type="email" class="form-control" name="email" placeholder="paoloerra99@gmail.com" > 
    </div>
    <div class="my-btn float-right">Modifica i tuoi dati</div>
</div>
<br>
<div *ngIf="type == 'preferences'" class="preferences-user">
    <h3 class="pb-1">Cambia le tue preferenze</h3>
    <div class="form-check pb-1 pt-1">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Tecnologia</label>
    </div>
    <div class="form-check pb-1">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Vestiti</label>
    </div>
    <div class="form-check pb-1">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Animali</label>
    </div>
    <div class="form-check pb-1">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Auto</label>
        <div class="my-btn float-right">Modifica preferenze</div>

    </div>
</div>