.card {
 border-radius: 20px;
 box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

#red-price {
    -webkit-text-decoration-line: line-through; /* Safari */
    text-decoration-line: line-through; 
    color: red;
}

hr {
    background-color:  white;
    height: 2px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.card-img-top {
    width: 50%;
    height: 15vw;
    object-fit: fill;
}
