<div class="container-fluid">
    <hr>
    <h2 style="font-weight: bold;" class="text-center">LE MIGLIORI OFFERTE PER TE</h2>
    <hr>
    <!--PRIMA RIGA-->
    <div class="row mb-3">
        <div class="col-lg-3 col-sm-12 mt-3 " *ngFor="let d of data">
            <div class="card">
                <img src="{{d.image}}" style="height: 200px;" class="card-img-top p-3 mt-4 mx-auto" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-truncate">{{d.name }}</h5>
                    <div class="float-right">
                        <h6>20$</h6>
                    </div>
                    <div id="red-price" class="float-left">
                        <h6>Prezzo: {{d.priceCurrentThird}}</h6>
                    </div><br>
                    <hr>
                    <div class="text-center">
                        <div style="width: 100%;" class="my-btn mt-2" data-toggle="modal" data-target="#modal_user">
                            Segui</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--MODALE-->
<div class="modal fade" id="modal_user" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-lg modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header text-center">
            <h5 class="modal-title" id="exampleModalLongTitle">{{title_modal}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body ml-5 mr-5 mb-2">
            <div class="alert alert-warning">Accedi o registrati per seguire e tracciare i prezzi dei prodotti<br> 
                <div *ngIf="showSignUp == false" class="mt-1">Non hai un account? <a routerLink="" (click)="openSignup()">Registrati.</a></div>
                <div *ngIf="showSignUp == true" class="mt-1">Hai già un account? <a routerLink="" (click)="openSignup()">Effettua il login.</a></div>
            </div>
            <div *ngIf="showSignUp == false"><app-login></app-login></div>
            <div *ngIf="showSignUp== true"><app-form-user></app-form-user></div>
        </div>
        </div>
    </div>
</div>